@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --orange:#F78B00;
    --houverOrange: #ED5506;
    --white: #FFFFFF;
    --blue: #00285F;
    --grey: #EDEDED;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.navContainer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 40px;
    background: var(--orange);
    color: var(--blue);
}
.linksContainer{
    display: flex;
    align-items: center;
    gap:46px;
}
.navContainer > p{
    font-size: 36px;
}
.navLinks > ul{
    display: flex;
    gap: 25px;
    list-style-type: none;
    font-size: 18px;
}
.navLinks a{
    text-decoration: none;
    color: var(--blue);
}
.navLinks a:hover{
    color: var(--white);
}
.navLogin > button{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.navLogin > button:hover{
    background-color: var(--houverOrange);
    border-radius: 5px;
    color: var(--white);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -350px;
    
}
.slideContainer{
    background-color: var(--blue);
    height: 430px;
    width: 1000px;
    border-radius: 5px;   
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.textSlide{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
} 
.textSlide > p{
    font-size: 18px;
    text-align: end;
}
.slideContainer > img{
    height: 260px;
    width: 515px;
}
section{
    display: flex;
    align-items: center ;
    justify-content: center;
}
.catalogContainer{
    width: 1000px;               
    margin-top: 80px;   
}
.titleCatalog{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.searchCatalog{
    margin-top: 20px;
    background-color: var(--grey);
    border-radius: 5px ;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSearch{
    height: 70px;
    width: 700px;
    padding-left: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
}
.inputSubmit{
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
}
.inputSubmit:hover{
    background: var(--houverOrange);
}