@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --orange:#F78B00;
    --houverOrange: #ED5506;
    --white: #FFFFFF;
    --blue: #00285F;
    --grey: #EDEDED;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.navContainer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 40px;
    background: var(--orange);
    color: var(--blue);
}
.linksContainer{
    display: flex;
    align-items: center;
    gap:46px;
}
.navContainer > p{
    font-size: 36px;
}
.navLinks > ul{
    display: flex;
    gap: 25px;
    list-style-type: none;
    font-size: 18px;
}
.navLinks a{
    text-decoration: none;
    color: var(--blue);
}
.navLinks a:hover{
    color: var(--white);
}
.navLogin > button{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.navLogin > button:hover{
    background-color: var(--houverOrange);
    border-radius: 5px;
    color: var(--white);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -350px;
    
}
.slideContainer{
    background-color: var(--blue);
    height: 430px;
    width: 1000px;
    border-radius: 5px;   
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.textSlide{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
} 
.textSlide > p{
    font-size: 18px;
    text-align: end;
}
.slideContainer > img{
    height: 260px;
    width: 515px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}
.catalogContainer{
    width: 1000px;               
    margin-top: 80px;   
}
.titleCatalog{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.searchCatalog{
    margin-top: 20px;
    background-color: var(--grey);
    border-radius: 5px ;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSearch{
    height: 70px;
    width: 700px;
    padding-left: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
}
.inputSubmit{
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
}
.inputSubmit:hover{
    background: var(--houverOrange);
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0px 220px;
    margin-top: 60px;
}
.cardCar{
    width: 300px;
    height: 400px;
    background-color: var(--grey);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cardCar>img{
    height: 200px;
    width: 250px;
}
.cardCar>button{
    height: 50px;
    width: 260px;
    background: var(--blue);
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}
.cardCar>button:hover{
    background: var(--houverOrange);
}
.textCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 270px;
    row-gap: 5px;
}
.textCard > p{
    font-style: italic;
    opacity: 50%;
}
.aboutContainer{
    width: 1000px;               
    margin-top: 200px;   
    margin-bottom: 180px;
}
.titleAbout{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.cardAbout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C4C4C429;
    height: 450px;
    border-radius: 10px;
    margin-top:15px;
}
.cardAbout > img{
    height: 420px;
    background: #D9D9D9;
}
.textCardAbout{
    width: 630px;
    text-align: end;
    row-gap: 30px;
}
.textCardAbout > p{
    color: #938F8F;
    margin-top: 30px;
}
.featuresContainer{
    height: 1030px;
    width: 100%;
    background: var(--grey);
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleFeatures{
    width: 1000px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.cardFeaturesContainer{
    background: var(--white);
    width: 1000px;
    height: 560px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 60px;
    flex-wrap: wrap;
    padding: 10px;
}
.cardFeatures{
    height: 150px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EDEDED;
}
.cardFeatures:hover{
    background: #EDEDED;
}
.cardFeatures > img{
    height: 70px;
}
.textCardFeatures{
    width: 220px;
    margin-left: 30px;
}