@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --orange:#F78B00;
    --houverOrange: #ED5506;
    --white: #FFFFFF;
    --blue: #00285F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
body{
    background: var(--orange);
}
.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    color: var(--blue);
}
.linksContainer{
    display: flex;
    align-items: center;
    gap:46px;
}
.navContainer > p{
    font-size: 36px;
}
.navLinks > ul{
    display: flex;
    gap: 25px;
    list-style-type: none;
    font-size: 18px;
}
.navLinks a{
    text-decoration: none;
    color: var(--blue);
}
.navLinks a:hover{
    color: var(--white);
}
.navLogin > button{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.navLogin > button:hover{
    background-color: var(--houverOrange);
    border-radius: 5px;
    color: var(--white);
}